#streamlit
st-gsheets-connection
#pandas
numpy
matplotlib
scikit-learn
google-api-python-client
gspread
oauth2client
tensorflow-cpu==2.18
#plotly
streamlit==1.25.0    # Versi terbaru (pastikan untuk memeriksa versi Anda)
plotly==5.17.0       # Library untuk visualisasi
pandas==2.1.1        # Library manipulasi data
